a {
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before {
    content: "";
    display: inline-block;
    background-color: #00DEF8;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #3A4042;
    border-bottom: 10px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 60px;
    height: 60px;
    box-shadow: 4px 4px 0px #fff;
}

nav {
    text-align: right;
}

#box-name {
    background-color: #3A4042;
    text-align: left;
    display: inline-block;
    box-shadow: 5px 5px 0px #000;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 33px;
    padding-right: 34px;
    margin-top: 99px;
    margin-left: 84px;
}

#button-name {
    display: inline-block;
    box-shadow: 5px 5px 0px #000;
    text-align: left;
}

#button {
    display: inline-block;
    background-color: #00DEF8;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0px;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
}

#button:hover {
    transform: scale(1.08);
    color: #FFF;
    background-color: #00DEF8;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0px;
}

